# Achievement 6.1_Clean and Understand

## Contents
### Importing Libraries
### Importing Data
### Reviewing Data after import
### Missing Values Check
### Dataset Shape
### Duplications Check
### Basic Statistical Analysis
### Review and Uniformizing of Data Types
### Generate New Dataframe to make changes to so original can be preserved
### Exporting Working Dataframe

### Importing Libraries

In [40]:
# importing libraries
import pandas as pd
import numpy as mp
import os

### Importing Data

In [43]:
# Load the dataset
full_df = pd.read_csv(r'C:\Users\rewha\Desktop\0.CareerFoundry\2.Data Immersion_ACH 06-Advanced Analytics and Dashboard Design\02_Data\02.01_Data Raw\Global_Cybersecurity_Threats_2015-2024-Raw.csv')

### Reviewing Data after import

In [52]:
# Verify Data Structure
full_df.head()

,Country,Year,Attack Type,Target Industry,Financial Loss (in Million $),Number of Affected Users,Attack Source,Security Vulnerability Type,Defense Mechanism Used,Incident Resolution Time (in Hours)
0,China,2019,Phishing,Education,80.53,773169,Hacker Group,Unpatched Software,VPN,63
1,China,2019,Ransomware,Retail,62.19,295961,Hacker Group,Unpatched Software,Firewall,71
2,India,2017,Man-in-the-Middle,IT,38.65,605895,Hacker Group,Weak Passwords,VPN,20
3,UK,2024,Ransomware,Telecommunications,41.44,659320,Nation-state,Social Engineering,AI-based Detection,7
4,Germany,2018,Man-in-the-Middle,IT,74.41,810682,Insider,Social Engineering,VPN,68

### Missing Values Check

In [57]:
# Looking for missing values
full_df.isnull().sum()

Country                                0
Year                                   0
Attack Type                            0
Target Industry                        0
Financial Loss (in Million $)          0
Number of Affected Users               0
Attack Source                          0
Security Vulnerability Type            0
Defense Mechanism Used                 0
Incident Resolution Time (in Hours)    0
dtype: int64

In [59]:
# viewing missing 16 values under product_name
#NOT NEEDED!
#full_df_nan = full_df[full_df['product_name'].isnull() == True]

In [61]:
#NOT NEEDED!
#full_df_nan

### Dataset Shape

In [64]:
full_df.shape

(3000, 10)

### Duplications Check

In [67]:
# creates new dataframe to utilize duplicated() function to identify duplicate rows
full_df_dups = full_df[full_df.duplicated()]

In [69]:
# display duplicates rows
full_df_dups

Empty DataFrame
Columns: [Country, Year, Attack Type, Target Industry, Financial Loss (in Million $), Number of Affected Users, Attack Source, Security Vulnerability Type, Defense Mechanism Used, Incident Resolution Time (in Hours)]
Index: []

### Basic Statistical Analysis

In [72]:
full_df.describe()

,Year,Financial Loss (in Million $),Number of Affected Users,Incident Resolution Time (in Hours)
count,3000.000000,3000.000000,3000.000000,3000.000000
mean,2019.570333,50.492970,504684.136333,36.476000
std,2.857932,28.791415,289944.084972,20.570768
min,2015.000000,0.500000,424.000000,1.000000
25%,2017.000000,25.757500,255805.250000,19.000000
50%,2020.000000,50.795000,504513.000000,37.000000
75%,2022.000000,75.630000,758088.500000,55.000000
max,2024.000000,99.990000,999635.000000,72.000000

In [98]:
### Counts on Qualitative Variables

In [102]:
full_df['Country'].value_counts()

Country
UK           321
Brazil       310
India        308
France       305
Japan        305
Australia    297
Russia       295
Germany      291
USA          287
China        281
Name: count, dtype: int64

In [104]:
full_df['Attack Type'].value_counts()

Attack Type
DDoS                 531
Phishing             529
SQL Injection        503
Ransomware           493
Malware              485
Man-in-the-Middle    459
Name: count, dtype: int64

In [106]:
full_df['Target Industry'].value_counts()

Target Industry
IT                    478
Banking               445
Healthcare            429
Retail                423
Education             419
Telecommunications    403
Government            403
Name: count, dtype: int64

In [108]:
full_df['Attack Source'].value_counts()

Attack Source
Nation-state    794
Unknown         768
Insider         752
Hacker Group    686
Name: count, dtype: int64

In [110]:
full_df['Security Vulnerability Type'].value_counts()

Security Vulnerability Type
Zero-day              785
Social Engineering    747
Unpatched Software    738
Weak Passwords        730
Name: count, dtype: int64

In [114]:
full_df['Defense Mechanism Used'].value_counts()

Defense Mechanism Used
Antivirus             628
VPN                   612
Encryption            592
Firewall              585
AI-based Detection    583
Name: count, dtype: int64

### Review and Uniformizing of Data Types

In [75]:
full_df.dtypes

Country                                 object
Year                                     int64
Attack Type                             object
Target Industry                         object
Financial Loss (in Million $)          float64
Number of Affected Users                 int64
Attack Source                           object
Security Vulnerability Type             object
Defense Mechanism Used                  object
Incident Resolution Time (in Hours)      int64
dtype: object

### Generate New Dataframe to make changes to so original can be preserved

In [78]:
# Going to be modifying the actual values so creating a secondary working dataframe so that I can keep the original in its state to prevent data loss.
working_df = full_df.copy()

In [80]:
# NOTE: Found the next few checks during a python tutorial but wanted to try them. Will Comment out should they cause issues!
# Remove whitespace and convert to title case for consistent category naming
working_df['Attack Type'] = working_df['Attack Type'].str.strip().str.title()
working_df['Attack Source'] = working_df['Attack Source'].str.strip().str.title()
working_df['Target Industry'] = working_df['Target Industry'].str.strip().str.title()

In [82]:
full_df.dtypes

Country                                 object
Year                                     int64
Attack Type                             object
Target Industry                         object
Financial Loss (in Million $)          float64
Number of Affected Users                 int64
Attack Source                           object
Security Vulnerability Type             object
Defense Mechanism Used                  object
Incident Resolution Time (in Hours)      int64
dtype: object

In [84]:
# Ensure numeric columns are correct
working_df['Number of Affected Users'] = pd.to_numeric(working_df['Number of Affected Users'], errors='coerce')
working_df['Financial Loss (in Million $)'] = pd.to_numeric(working_df['Financial Loss (in Million $)'], errors='coerce')
working_df['Incident Resolution Time (in Hours)'] = pd.to_numeric(working_df['Incident Resolution Time (in Hours)'], errors='coerce')

In [86]:
full_df.dtypes

Country                                 object
Year                                     int64
Attack Type                             object
Target Industry                         object
Financial Loss (in Million $)          float64
Number of Affected Users                 int64
Attack Source                           object
Security Vulnerability Type             object
Defense Mechanism Used                  object
Incident Resolution Time (in Hours)      int64
dtype: object

### Exporting Working Dataframe

In [89]:
# exporting new prods csv to Prepared Data folder
working_df.to_csv(os.path.join(r'C:\Users\rewha\Desktop\0.CareerFoundry\2.Data Immersion_ACH 06-Advanced Analytics and Dashboard Design\02_Data\02.02_Data Cleaned\Global_Cybersecurity_Threats_2015-2024-First_Pass.csv'))